body{
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}
.banner {
  height: 100vh;
  background: url('../img/banner/1.jpg') no-repeat center center/cover;
  position: relative;
  transition: background-image 1s ease-in-out;
  overflow: hidden;
}
.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity to control darkness */
  z-index: 1;
}

@media (max-width: 768px) {
  .banner {
    background: url('../img/banner/1.jpg') no-repeat center center/cover;
    height: 70vh;
    /* optional: shorter for phones */
  }
}

.nav-link {
  color: #ccc !important;
  font-weight: 500;
}

.search-box {
  border: 1px solid #444;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.05);
}

.search-box input::placeholder {
  color: #aaa;
}

.contact-btn {
  background-color: #ffd700 !important;
  color: #000;
  font-weight: 600;
  padding: 6px 16px;
  border-radius: 12px;
  border: none;
}

.contact-btn:hover {
  background-color: #ffc107 !important;
}

.righteous-regular {
  font-family: "Righteous", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 6.5rem;
}
.banner > div {
  position: relative;
  z-index: 2;
}

.banner-text {
  color: white;
}

.banner-text1 {
  color: #ffc107;
  margin-left: 20px;
}
.scroll-logs{
  width: 100%;
  height: 30px !important;
  background-color: #444;
}
.brand-partners {
  padding: 40px 30px;
  background-color: #f8f9fa;
}

.scroll-container {
  display: flex;
  overflow-x: hidden;
  white-space: nowrap;
  gap: 30px;
  scroll-behavior: smooth;
  position: relative;
  height: 80px;
}
.scroll-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.scroll-container img {
   height: 60px;
  flex-shrink: 0;
  transition: transform 0.3s ease;
}
.scroll-container img:hover {
  transform: scale(1.1);
}

.Services > .row > .col{
  height: 75vh;
}
.Services_dialog_header{
  font-weight: 800;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.8s ease-in-out;
  border: 2px solid #ccc;
  height: fit-content;
  width: 450px;
}
.Services_dialog_header.show {
  opacity: 1;
  transform: translateY(0);
}
.bmw{
  width: 600px;
  height: 260px;
  margin-top:300px;
  margin-right: 300px;
  border: 2px solid black;
}